<br/>
<div class="col-md-7">
    <div>
        <a href="/bugs/new" class="btn btn-success">Add New </a>

    </div> <br/> {{#each bugs}}
    <div class="well">
        <a href="/bugs/{{_id}}">
            <h3>{{name}}</h3>
        </a>
        <hr>
        <div>{{description}}</div>
        <b>{{category}}</b> 
        <span class="pull-right">{{lastModified}}</span>
    </div>
    {{/each}}
</div>